{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/jobapp/employer/post_job.css' %}">
{% endblock %}

{% block content %}
<div class="body-container">
    <form action="#" method="POST">
        {% csrf_token %}
        <h2 class="info">Basic Info</h2>
        <div class="head-section">
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" id="position" name="position" placeholder="Software Developer" value = {{job_detail.position}} required>
            </div>

            <div class="form-group">
                <label for="website">Website</label>
                <input type="text" id="website" name="website" placeholder="www.company.com" value = {{job_detail.website}} required>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" name="location" placeholder="Pepsicola" value = {{job_detail.address}} required>
            </div>
        </div>

        <h2 class="info">Description</h2>
        <div class="section-description">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" rows="4" cols="50" placeholder="About me...." required>{{job_detail.description}}</textarea>
          </div>
        </div>


        <h2 class="info">Job Information</h2>
        <div class="job-info">
            <div class="form-group">
                <label for="job_category">Job Category</label>
                <input type="text" id="job_category" name="job_category" placeholder="Web Developer" value = {{job_detail.category}} required>
            </div>

            <div class="form-group">
                <label for="job_level">Job Level</label>
                <input type="text" id="job_level" name="job_level" placeholder="juniour" value = {{job_detail.level}} required>
            </div>

            <div class="form-group">
                <label for="no_vac">No. of Vacancies</label>
                <input type="number" id="no_vac" name="no_vac" placeholder="33" value = {{job_detail.number_vacancy}} required>
            </div>

            <div class="form-group">
                <label for="emp_type">Employment Type</label>
                <input type="text" id="emp_type" name="emp_type" placeholder="Full Time" value = {{job_detail.emp_type}} required>
            </div>

            <div class="form-group">
                <label for="offered_salary">Offered Salary</label>
                <input type="text" id="offered_salary" name="offered_salary" placeholder="Negotiable" value = {{job_detail.salary}} required>
            </div>

            <div class="form-group">
                <label for="apply_before">Apply Before</label>
                <input type="date" id="apply_before" name="apply_before" value="{{ job_detail.date|date:'Y-m-d' }}" required>
            </div>
            </div>
        </div>

        <h2 class="info">Job Specification</h2>
        <div class="job-specification">
            <div class="form-group">
                <label for="edu_level">Education Level</label>
                <input type="text" id="edu_level" name="edu_level" placeholder="Negotiable" placeholder="Under Graduate" value = {{job_detail.edu_level}} required>
            </div>

            <div class="form-group">
                <label for="exp_req">Experience Required</label>
                <input type="text" id="exp_req" name="exp_req" placeholder="Negotiable" placeholder="More than 1 year" value = {{job_detail.exp_req}} required>
            </div>

            <div class="form-group">
                <label for="Professional_skill_req">Professional Skill Required</label>
                <input type="text" id="Professional_skill_req" name="Professional_skill_req" placeholder="web Dev, Api, DBMS" value = {{job_detail.skill_req}} required>
            </div>
            
        </div>

        
        
        
        <h2 class="info">Job Description</h2>
        <div class="job-specification">
            <div class="form-group">
                <label for="job_desc1">1.</label>
                <input type="text" id="job_desc1" name="job_desc1" placeholder="Job Desc 1" value = {{job_detail.job_desc1}} required>
            </div>
        
            <div class="form-group">
                <label for="job_desc2">2.</label>
                <input type="text" id="job_desc2" name="job_desc2" placeholder="Job Desc 2" value = {{job_detail.job_desc2}} required>
            </div>
        
        
            <div class="form-group">
                <label for="job_desc3">3.</label>
                <input type="text" id="job_desc3" name="job_desc3" placeholder="Job Desc 3" value = {{job_detail.job_desc3}} required>
            </div>
        
        
            <div class="form-group">
                <label for="job_desc4">4.</label>
                <input type="text" id="job_desc4" name="job_desc4" placeholder="Job Desc 4" value = {{job_detail.job_desc4}} required>
            </div>
        
        
            <div class="form-group">
                <label for="job_desc5">5.</label>
                <input type="text" id="job_desc5" name="job_desc5" placeholder="Job Desc 5" value = {{job_detail.job_desc5}} required>
            </div>
        </div>

        <h2 class="info">Other Specification</h2>
        <div class="other-specification">
            <div class="form-group">
                <label for="other_spec1">1.</label>
                <input type="text" id="other_spec1" name="other_spec1" placeholder="Other Sepc 1" value = {{job_detail.other_spec1}} required>
            </div>

            <div class="form-group">
                <label for="other_spec2">2.</label>
                <input type="text" id="other_spec2" name="other_spec2" placeholder="Other Spec 2" value = {{job_detail.other_spec2}} required>
            </div>

            <div class="form-group">
                <label for="other_spec3">3.</label> 
                <input type="text" id="other_spec3" name="other_spec3" placeholder="Other Sepc 3" value = {{job_detail.other_spec3}} required>
            </div>

            <div class="form-group">
                <label for="other_spec4">4.</label>
                <input type="text" id="other_spec4" name="other_spec4" placeholder="Other Sepc 4" value = {{job_detail.other_spec4}} required>
            </div>

            <div class="form-group">
                <label for="other_spec5">5.</label>
                <input type="text" id="other_spec5" name="other_spec5" placeholder="Other Sepc 5" value = {{job_detail.other_spec5}} required>
            </div>
        </div>
        <div class="buttons">
            {% if show == '1' %}
            <button type="submit" class="post-button">Update</button>
            {% endif %}
            <button type="submit" class="post-button">Post Now</button>
        </div>
    </form>

</div>


    {% endblock content %}

</body>
</html>
